@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
//
$font: 'Press Start 2P', cursive;
//
$gutter: 10px;
$button-width: 240px;
$button-heigth: 60px;
//
$white: rgba(255, 255, 255, 1);
$hover-color:rgba(26,125,187,0.95);
$frame-color: #E1CDBF;
$taskbar-blue: rgba(43, 80, 106, 0.9);
$button-blue: rgba(78, 100, 144, 1);
$side-color: rgba(255,243,199, 1);
$sidebar-button: rgba(255,228,137,0.8)